#top {
	width: 990px;
	height: 80px;
	background: url(../../../../images/top/toplas.jpg) no-repeat;
	padding: 0;
	margin-bottom: 20px;
}

.submenu {
	background: url(../../../../images/backgrounds/c.l.jpg) repeat-y;
	padding-left: 17px;
	padding: 0 5px;
}
